

.container{
    .form {
                
        padding: 10px;

        form {

            input {
                padding: 8px;
            }

            .textarea {
                border-radius: 6px;
            }

            .col-3 {

                i {
                    color: red;
                }
            }
        }
    }
}