.about-wrapper {
    height: 100%;
    width: 100%;

    .a-row1 {
        .imgwrapper {
            margin: 0px;
            padding: 0px;
            width: 100%;
            height: 100%;

            img {
                border-bottom: 3px solid yellow;
                height: 100%;
                width: 100%;
            }
        }
    }

    .container {
        .a-row2 {
            .imgwrapper {
                width: 100%;
                height: 100%;

                img {
                    margin-top: 60px;
                    height: 80%;
                    width: 100%;
                    border-radius: 10px;
                }
            }

            .a-row2col2 {
                h6 {
                    font-size: 2rem;
                    font-weight: 700;
                    letter-spacing: 0.1rem;
                }

                p {
                    font-size: 1.2rem;
                    text-align: justify;
                    color: #777C85;
                    word-spacing: 0.1rem;
                }
            }
        }

        .a-row3 {
            .a-row3col1 {
                h6 {
                    font-size: 2rem;
                    font-weight: 700;
                    letter-spacing: 0.1rem;
                }

                p {
                    font-size: 1.2rem;
                    text-align: justify;
                    color: #777C85;
                    word-spacing: 0.1rem;
                }
            }
        }

        .a-row4 {
            .col-4 {
                text-align: center;

                img {
                    width: 4rem;
                    height: auto;
                    // margin-left: 2rem;

                }

                .imgtitle {
                    p {
                        font-size: 1.2rem;
                        color: #46494e;
                        word-spacing: 0.1rem;
                    }
                }
            }
        }
    }
}


@media (max-width:768px) {
    .about-wrapper {
        .a-row1 {
            .imgwrapper {
                width: 100%;
                height: 170px;

                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }

        .container {
            .a-row2 {
                .imgwrapper {
                    width: 100%;
                    height: 100%;

                    img {
                        margin-top: 0px;
                        height: 90%;
                        width: 100%;
                        border-radius: 10px;
                    }
                }

                .a-row2col2 {
                    h6 {
                        margin-top: -1rem;
                        font-size: 1.3rem;
                    }

                    p {
                        font-size: 0.8rem;
                    }
                }
            }

            .a-row3 {
                .a-row3col1 {
                    h6 {
                        margin-top: -3rem;
                        font-size: 1.3rem;
                    }

                    p {
                        font-size: 0.8rem;
                    }
                }
            }

            .a-row4 {
                .col-4 {
                    // padding: -3rem;
                    text-align: center;

                    img {
                        width: 2rem;
                        height: auto;
                        // margin-left: 2rem;

                    }

                    .imgtitle {
                        p {
                            font-size: 0.8rem;
                            color: #46494e;
                            word-spacing: 0.1rem;
                        }
                    }
                }
            }
        }
    }
}