.container {
    .form {
        padding: 10px;

        form {
            input {
                padding: 8px;
            }

            .textarea {
                width: 100%;
                border-radius: 6px;
            }

            .col-3 {
                i {
                    color: red;
                }
            }

            .label{
                background-color: red;
                display: inline-block;
            }
        }
    }
}