// Header css is here -->>>


.navbar {
    .navbar-brand {
        padding: 1rem;

        img {
            width: 6rem;
        }
    }

    .sub-container {
        width: 100%;

        .navbar-toggler {
            color: white;
            border: 1px solid rgba(189, 184, 184, 0.548);

            .navbar-toggler-iconn {
                height: 100%;
                width: 100%;
                margin: 0px;
                padding: 0px;
                font-size: 2rem;
            }
        }
    }
}

.navbar-brand {
    img {
        height: 100%;
        width: 100%;
    }
}

.navbar-collapse {
    .navbar-nav {
        .nav-item {
            padding: 0.8rem;
        }
        .navItem{
            .active{
                color: black;
            }
        }

        li {
            position: relative;
            .nav-link {
                font-family: 'Lexend', sans-serif; //nav
                color: #777C85;
                font-size: 1rem;
                font-weight: 500;
            }
        }

        .dropdown {
            .dropdown-menu {
                padding: 0px;

                .nav-item {
                    padding: 0px;
                    margin: 0.5rem 0.4rem;
                    
                    .nav-link {
                        background-color: rgb(255, 255, 255);
                        font-size: 0.9rem;
                        font-weight: 100;
                        border-radius: 6px;
                        width: 12rem;
                    }
                    .nav-link:hover {
                        font-size: 0.9rem;
                        background-color: black;
                        color: white;
                        border-radius: 6px;
                    }

                    .dropdown-menu {
                        padding: 0px;
                        padding: 10px;

                        .dropdown-item {
                            padding-top: 8px;
                            padding-right: 40px;
                        }
                        .active{
                            color: rgb(255, 255, 255);
                            background-color: orange;
                            border-radius: 6px;
                        }

                        .dropdown-item:hover {
                            background-color: black;
                            color: white;
                            border-radius: 6px;
                        }
                    }
                }
            }
        }
    }
}

.navLink:before{
    content: "";
    position: absolute;
    bottom: 5px;
    left: 0%;
    height: 3px;
    width: 100%;
    background-color: rgba(108, 220, 220, 0.9);
    border-radius: 90px;
    transform: scaleX(0);
    transition: transform 0.2s linear;

}
.navLink:hover::before{
    transform: scaleX(1);
}



// .navbg-onscroll{
//     top: 0px;
//     position: fixed;
//     z-index: 1000;
//     // background-color: rgb(44, 44, 44);
//     background-color: black;
//     transition: all 0.6s ease-in-out;
//     padding: 8px;

//     .navbar-nav{
//         // background-color: orange;
//         li {
//             .nav-link{
//              color: rgb(255, 255, 255);
//              font-size: 1rem;
//              font-weight: 500;
//             }
//          }

//     }


//     li{
//         a{
//             color: whitesmoke;
//             font-size: 1rem;

//         }
//     }

// }

// .sticky-nav{
//     top: 0px;
//     position: fixed;
//     z-index: 1000;
//     background-color: transparent;
//     // color: aqua;
// }

.stickyNav {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 999;
}

@media screen and (min-width: 993px) {
    .dropdown .dropdown-menu{
        display: none !important;
    }

    .dropdown:hover>.dropdown-menu,
    .dropend:hover>.dropdown-menu {
        display: block !important;
        margin-top: 0.125em;
        position: absolute;
        top: 4rem;
        left: -1%;
    }

    .dropend:hover>.dropdown-menu {
        position: absolute;
        top: -0.1rem;
        left: 100%;
        margin-left: .125em;

    }

    .dropdown:focus>.dropdown-menu {
        display: block !important;
    }

}

.hidden{
    visibility: hidden;
}
