.AoverviewWrapper {
    // position: relative;

    .container-fluid {
        .imgWrappper {
            padding: 0px;

            img {
                width: 100%;
                height: 100%;
            }
        }
    }

    .container {
        .aboutAlphathum {
            h6 {
                color: #000000;
                font-size: 1.3rem;
                font-weight: 500;
                letter-spacing: 0.1rem;
            }

            p {
                font-size: 1.1rem;
                text-align: justify;
                color: #777C85;
                word-spacing: 0.1rem;
            }
        }
    }


    .container-fluid {
        // padding: 10px;
        // margin: 30px;


        .subnavrow {
            // background-color: red;
            padding: 35px 100px;
            //! for sticky Subnav bar
            // position: sticky;
            top: 48px;

            .subNav {
                padding-top: 25px;
                padding-bottom: 10px;
                // margin: 30px;
                background-color: #d6dae2;
                // position: absolute;
                // top: 0px;
                z-index: -1;
                border-radius: 13px;

                ul {

                    padding: 0px;
                    // background-color: red;

                    display: flex;
                    justify-content: space-evenly;
                    list-style: none;

                    a {
                        text-decoration: none;
                    }
                }
            }
        }



        .container {
            .alphathumSubProjects {

                // z-index: -30;
                .row {
                    .col-4 {
                        .navlink {
                            margin-bottom: 20px;

                            // position: relative;
                            // z-index: 20;
                            .subprojectlogoWrapper {
                                // position: relative;

                                .subprojectlogo {
                                    // position: sticky;
                                    // top: 100vh;
                                    // left: 70px;
                                    height: 5rem;
                                    margin-left: 90px;
                                    // transform: translate(70px);
                                    transform: translateY(-40px);
                                    z-index: -1;
                                    border-left: 3px solid black;

                                }
                            }
                        }
                    }
                }
            }
        }

        .container {
            .locationWrapper {
                .row {
                    h6 {
                        color: #000000;
                        font-size: 1.3rem;
                        font-weight: 500;
                        letter-spacing: 0.1rem;
                    }

                    .locationContent {
                        p {
                            font-size: 1.1rem;
                            text-align: justify;
                            color: #777C85;
                            word-spacing: 0.1rem;

                            span {
                                font-size: 1.2rem;
                                font-weight: 700;
                                color: black;
                            }
                        }
                    }

                }
            }
        }

        .container {
            .priceListWrapper {
                .row {
                    h6 {
                        color: #000000;
                        font-size: 1.3rem;
                        font-weight: 500;
                        letter-spacing: 0.1rem;
                    }
                }
            }
        }

        .container {
            .floorPlanWrapper {
                h6 {
                    color: #000000;
                    font-size: 1.3rem;
                    font-weight: 500;
                    letter-spacing: 0.1rem;

                }

                .floorPlanRow {
                    // background-color: red;


                    .imgWrapper {
                        // height: 2rem;
                        // width: 3rem;
                        // background-color: red;
                        display: flex;
                        justify-content: space-between;
                        overflow: hidden;

                        img {

                            width: 100%;
                            height: 100%;
                            // border-radius: 50%;
                        }
                    }

                }
            }
        }

        .container {
            .siteViewWrapper {
                h6 {
                    color: #000000;
                    font-size: 1.3rem;
                    font-weight: 500;
                    letter-spacing: 0.1rem;

                }

                .row {
                    .videoWrapper {

                        // height: 96vh;
                        // width: 100%;
                        // background-color: yellow;
                        video {
                            height: 100%;
                            width: 100%;
                            // background-color: red;
                            border-radius: 2%;

                        }

                    }
                }
            }
        }


        .container {
            

            .form {
                border-top: 2px solid black;
                padding: 40px;
                // margin: 20px;


                h6 {
                    font-size: 1.2rem;
                    font-weight: 900;
                }

                form {

                    input {
                        padding: 8px;
                    }

                    .textarea {
                        border-radius: 6px;
                    }

                    .col-3 {

                        i {
                            color: red;
                        }
                    }
                }
            }

            .videoWrapper{
                // background-color: red;
                height: 100%;
                width: 100%;
                video{
                    height: 100%;
                    width: 100%;
                }
            }
        }


    }
}