@import "../../assets/Common.scss";

.h-wrapper {
    height: 100%;
    overflow: hidden;
    position: relative;
    // background-color: aqua;
    width: 100%;
}

.minislider {
    display: none;
    // background-color: #F1E4FF;

    h1 {
        // margin-top: -1rem;
        // margin-bottom: 1.5rem;
        font-size: 2rem;
        font-weight: bold;
        // background-color: red;
    }


}

.h-containt-wrapper {
    // background-color: #F1E4FF;
    text-align: center;
    margin-bottom: 3vh;
    position: relative;

    .h-container {
        padding: 20px;

        img {
            margin-top: -1.9rem;
            text-align: center;
        }

        h1 {
            font-weight: bold;
            font-size: 2.4rem;
            letter-spacing: 0.6rem;
            margin-bottom: 20px;
        }

        h6 {
            font-size: 1.2rem;
            // background-color: red;
            letter-spacing: 0.2rem;
            font-weight: bold;
        }

    }

}

// section 2 builders ---->

.b-col2 {
    padding: 30px;
}

.maincontainer {
    margin-left: 50px;
    height: auto;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.outerdiv {
    height: 400px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: spiner 55s linear infinite;
    border-radius: 50%;
    position: relative;
    border: 1px solid rgba(162, 155, 155, 0.468);
}

.innerdiv {
    background-color: rgb(241 228 255);
    height: 75%;
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: relative;

}

.innerdiv2 {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(162, 155, 155, 0.468);
    height: 55%;
    width: 55%;
    border-radius: 50%;
    animation: spiner 30s linear infinite reverse;
    position: relative;
}

.outerdiv>img {
    height: 35px;
    position: absolute;
}

.innerdiv2>img {
    height: 35px;
    position: absolute;
}

.avenue62Logo {
    //10
    top: 75px;
    right: -45px;
    animation: spin 66s linear infinite;
}

.avenue133Logo {
    //9
    height: 30px !important;
    bottom: -11px;
    right: 55px;
    animation: spin 66s linear infinite;
}

.alphathumlogo {
    //7
    bottom: 70px;
    left: -38px;
    animation: spin 66s linear infinite;
}

.iThumlogo {
    //8
    height: 40px !important;
    top: -20px;
    left: 32px;
    animation: spin 66s linear infinite;
}

.cyberparklogo {
    //1
    left: -30px;
    bottom: 100px;
    animation: spin 55s linear infinite reverse;

}

.cityCenter150Logo {
    //2
    left: -23px;
    top: 90px;
    animation: spin 55s linear infinite reverse;
}

.citycentergzblogo {
    //3
    top: -18px;
    animation: spin 55s linear infinite reverse;
}

.cyberThumlogo {
    //4
    height: 30px !important;
    right: -13px;
    top: 90px;
    animation: spin 55s linear infinite reverse;
}

.Office365logo {
    //5
    right: -30px;
    bottom: 100px;
    animation: spin 55s linear infinite reverse;
}

.technoparklogo {
    //6
    bottom: -23px;
    height: 45px !important;
    /* animation: spinerr 80s linear infinite reverse ; */
    animation: spin 55s linear infinite reverse;
}

@keyframes spiner {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(1turn);
    }

}

@keyframes spinerr {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(-10deg);
    }

    50% {
        transform: rotate(-250deg);
    }

    75% {
        transform: rotate(-100deg);
    }

    100% {
        transform: rotate(-10deg);
    }
}

@keyframes spin {
    to {
        transform: rotate(1turn)
    }
}

.col {
    display: flex;
    flex-direction: column;
    justify-content: center;

    h5 {
        color: #0D6EFD;
        font-size: 2rem;
        font-weight: 500;
        letter-spacing: 0.1rem;
    }

    h1 {
        background-color: $orange-gradient;
    }
}

// section 3 propertyes--->

.poster-wrapper {
    margin-top: -2rem;
    .row{
        h1{
            font-size: 2rem;

        }
        h4{
            font-size: 1rem;

        }
        p{
            
            color:rgba(16, 15, 15, 0.751);
        }
    }

    .container-fluid {
        background: linear-gradient(-45deg, #ee7652a1, #e73c7ea3, #23a5d5a1, #23d5ab99);
        background-size: 400% 400%;
        animation: gradient 10s ease infinite;
    }
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}


.properties-section {

    h1 {
        // font-size: 2rem !important;
        font-weight: 600;
        .properties-title {
            color: $primary-color;
        }
        // background-color: red;
    }

    h4 {
        font-weight: 600;
        // background-color: red;
        letter-spacing: 0.1rem;
        margin-top: 0.6rem;
        margin-bottom: 1rem
    }

    .Para {
        letter-spacing: 0px;
        line-height: 1.9rem;
    }
}

// slider section

.p-slider {
    // background-color: red;
    margin: 0px;
    padding: 0px;
    transition: all 3s ease-in;

    .slider-title {
        font-weight: 900;
        color: $primary-color;
        h5{
            font-size: 2rem;
            letter-spacing: 0.1rem;
            color: black;
        }
    }
   
}

.carousel-wrapper {
    scroll-snap-type: x mandatory;
    scroll-padding: 0 24px;
    margin: 0px !important;
    padding: 0px !important;

    .item {
        scroll-snap-align: start;
    }
}

.carousel {
    div {
        img {

            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}

@media (max-width:991px) {

    .b-wrapper {
        .maincontainer {
            .outerdiv {
                height: 350px;
                width: 350px;
            }
        }

        .row {
            .b-col1 {
                text-align: center;
                margin-top: 20px;
            }
        }
    }
}

@media (max-width:600px) {
    .b-wrapper {
        .container {
            display: none;
        }
    }

    .p-slider {
        .slider-title {
            h5{
                font-size: 1.4rem;
                letter-spacing: 0.1rem;
                color: black;
            }
        }
    }

}

@media (max-width :768px) {

    .h-containt-wrapper {
        .h-container {

            h6 {
                margin-top: 1rem;
                margin-bottom: 1rem;
                // background-color: red;
                font-size: 1rem;
            }

            h1 {
                font-weight: bold;
                font-size: 1.3rem;
                letter-spacing: 0.2rem;
                margin-bottom: 20px;

            }
        }
    }

    .poster-wrapper {
        .row {

            h1 {
                font-size: 1.5rem;

            }

            h4 {
                font-size: 1rem;

            }

            p {
                
                text-align: center;
                letter-spacing: unset !important;
                word-spacing: unset !important;

            }
        }

    }
}

@media (max-width:600px) {
    .minislider {
        h1 {
            font-size: 1.7rem;
            font-weight: lighter;
            // background-color: red;
        }
    }
}

@media (max-width:1000px) {

    .minislider {
        display: block;
    }

}