.slider-container{
     margin-top: -0.5rem;
}

.imgWrapperrr{

    img{
        width: 80%;
        height: 80%;
    }
}
.slick-arrow {
    display: none !important;
    background-color: green;
}

@media (max-width:400px) {

    .imgWrapperrr{
        margin-left: 35px;
        padding: 20px;

        img{
            width: 70%;
            height: 70%;
        }
    }
}